.services-title {
    text-align: center;
    font-size: 30px;
    color: rgb(207, 40, 157);
}

.title {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}